*{
    box-sizing:border-box;
}
#video{
    position: relative;
    z-index: -1;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing .title{
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%);
    
    
}
.landing .title h1{
    font-size: 60px;
    font-weight: bolder;
}

